<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created as a test for udemy course. It uses data from mapbox.com and darksky.net!</p>
            <p>This is About me</p>
        </div>
        {{>footer}}
    </body>
</html>